* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sectionone {
  display: flex;
  flex-direction: row;
  background-image: url(pattern-light-bg.svg);
  width: 100%;
  height: fit-content;
  background-color: #faf5f3;
  padding-inline: 16px;
  padding-bottom: 66px;
  padding-top: 70px;
}
.firstlogo {
  margin: 20px;
}
.paragraphone {
  margin: 20px;
  margin-bottom: 20px;
}

.buttonlight {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 64px;
  border: 2px #062630 solid;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  color: #062630;
  font-family: Martian Mono;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-inline: 24px;
  letter-spacing: -1px;
  line-height: 130%;
  justify-content: center;
  gap: 20px;
}
.avatar {
  width: 110px;
  height: 40px;
  margin-top: 20px;
}
.ulstar {
  display: flex;
  list-style-type: none;
}
.hero {
  width: 536px;
  border-radius: 10px;
  margin-left: 30%;
  margin-top: 15%;
  gap: 80px;
  margin-right: 0px;
}
.sectionsecond {
  display: flex;
  flex-direction: row;
}
.secondpage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px;
  text-align: left;
  margin-left: 10%;
  list-style-type: none;
  font-size: 30px;
  line-height: 30px;
}
.logo {
  margin-top: -40px;
  margin-left: 0px;
  margin-bottom: 20%;
}
.ulsecond {
  list-style-type: none;
}
.secondh {
  line-height: 150px;
}
.reading {
  width: 560px;
  height: fit-content;
  border-radius: 12px;
}
