* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sectionone {
  display: flex;
  flex-direction: row;
  background-image: url(pattern-light-bg.svg);
  width: 100%;
  height: fit-content;
  background-color: #faf5f3;
  padding-inline: 16px;
  padding-bottom: 66px;
  padding-top: 70px;
}
.firstlogo {
  margin: 20px;
}

.p1 {
  color: #385159;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-family: Inter;
  display: block;
  height: 84px;
}
.buttonlight {
  display: block;
  background: no-repeat linear-gradient(90deg, #ffe2d1, #fff5ef);
  background-position-x: -400px;
  transition: 200ms;
  background-color: #fff5ef;
}
.hero {
  width: 535px;

  border-radius: 10px;
  justify-content: right;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.ul1 {
  list-style-type: none;
}
